<!doctype html>
<html  xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/common :: head('Board')">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link th:href="@{/css/common.css}" rel="stylesheet"/>
    <title>Board</title>
  </head>
  <body>
    <nav th:replace="fragments/common :: menu('board')"></nav>

      <div class="container" id="app">
        <h1>Write</h1>
        <form th:action="@{/board/write}" method="POST" @submit.prevent>
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" name="title" id="title"  v-model="title" required>
            <div id="validationServerUsernameFeedback" class="invalid-feedback">
              title error
            </div>
          </div>
          <div class="mb-3">
            <label>Youtube Video <button class="btn btn-secondary btn-sm" @click="showYoutubeModal($event)">Find YouTube Video <i class="fab fa-youtube"></i></button></label>
            <input id="videoId" name="videoId" class="form-control" placeholer="Youtube VideoId" v-model="videoId" readonly required/>
            <div id="" class="invalid-feedback">
              videoId error
            </div>
          </div>
          <div class="mb-3">
            <label for="content" class="form-label">Content: </label>
            <textarea id="content" name="content" class="form-control" rows="3" v-model="content"></textarea>
            <div id="" class="invalid-feedback">
              content error
            </div>
          </div>
          <div class="text-end">
            <a class="btn btn-primary" th:href="@{/board/list}">Cancel</a>
            <button class="btn btn-primary" type="submit" @click="submit">Write</button>
          </div>
        </form>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div>
                  <!-- <label>Search Youtube</label> -->
                  <!-- <input id="searchYoutube" class="form-control" /> -->
                  <form class="d-flex" @submit.prevent>
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" v-model="searchKeyword">
                    <button class="btn btn-outline-success" type="submit" @click="searchYoutube">Search</button>
                  </form>
                  <div class="overflow-auto" style="max-height: 400px;">
                    <div class="card" v-for="item in searchResponse.items">
                      <div class="row g-0" @click="selectVideo(item.id.videoId, item.snippet.title)">
                        <div class="col-md-4">
                          <img v-bind:src="item.snippet.thumbnails.default.url"/>
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">{{item.snippet.title}}</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>


        
      </div>

    
    <div th:replace="fragments/common :: commonjs"></div>
    <script src="../../static/js/board-write.js" th:src="@{/js/board-write.js}"></script>
  </body>
</html>